:root {
    --mobile-color: #cdb4db;
    --tablet-color: #fff1e6;
    --laptop-color: #52b788;
    --desktop-color: #bee1e6;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Varela Round', sans-serif;
}

.container {
    height: 100vh;
    padding-inline: 30px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10%;
}

.header__logo {
    font-size: 4vw;
}

.header__menu {
    display: flex;
    gap: 15px;
    font-size: 2.5vw;
}

.main {
    height: 80%;
    display: flex;
}

.main__image {
    background-image: url('./media/Portrait.png');
    width: 50%;
    background-size: contain;
    background-position: left center;
    background-repeat: no-repeat;
}

.main__text {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    font-size: 4vw;
}

.main__text-hello {
    font-size: 5vw;
}

.footer {
    height: 10%;

    display: flex;
    gap: 30px;
    justify-content: flex-end;
    align-items: center;

    margin-right: 15%;
}

.footer img {
    width: 4.3vw;
}